NODE_ENV=development
PORT=4000
FRONTEND_URL=http://localhost:5173

# Neon PostgreSQL Database Credentials
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
DATABASE_DIRECT_URL="postgresql://user:password@host/dbname?sslmode=require"

#Cloudinary credentials :-
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

MAX_PRODUCT_IMAGES=10
MAX_IMAGE_SIZE_MB=8